amqp
apiclient
asgiref
attrs
Authlib
autobahn
Automat
billiard
cachetools
celery
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
constantly
django-cors-headers
cryptography
daphne
python-dateutil
Django
django-stubs
django-stubs-ext
dj-database-url
python-dotenv
drf-spectacular
email-reply-parser
exceptiongroup
google-api-python-client
google-auth-oauthlib
httplib2
hyperlink
idna
IMAPClient
incremental
inflection
iniconfig
jsonschema
jsonschema-specifications
PyJWT
kombu
msgpack
django-stubs
djangorestframework-stubs
oauthlib
pyOpenSSL
packaging
pika
Pillow
pip
pluggy
django-polymorphic
prompt-toolkit
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pycparser
Pygments
pyparsing
pytest
pytest-asyncio
pytest-django
qrcode
redis
referencing
requests
requests-oauthlib
types-requests
djangorestframework
djangorestframework-simplejwt
djangorestframework-stubs
rpds-py
rsa
service-identity
setuptools
sqlparse
Twisted
txaio
tzdata
tzlocal
uritemplate
urllib3
vine
wcwidth
PyYAML
types-PyYAML
zope.interface
